*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --main-color:#fff200;
  --bg-color-1:#000000;
  --bg-color-2:#151515;
  --bg-color-3:#1f1f1f;
  --text-color-1:#fff;
  --text-color-2:#cecece;
}

body{
  background-color: var(--bg-color-1);
  color: var(--text-color-1);
  font-family: var(--font-poppins), sans-serif;
}

a{
  text-decoration: none;
  color: var(--text-color-1);
}

.h2,
.h1{
  text-align: center;
  margin-top: 30px;
}