.page__content{
  min-height: calc(100dvh - 50px);
}
.page__posts {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 15px;
  padding: 30px 0;
  width: 95%;
  margin: auto;

  @media(max-width:1300px) {
    grid-template-columns: repeat(5, 1fr);
  }

  @media(max-width:1000px) {
    grid-template-columns: repeat(4, 1fr);
  }

  @media(max-width:700px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media(max-width:500px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.page__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin: auto;
  background-color: var(--bg-color-2);
  padding: 15px;

  a {
    display: inline-block;
    border: 1px solid var(--main-color);
    padding: 8px 0;
    width: 80px;
    text-align: center;
    border-radius: 5px;
    letter-spacing: 1.1px;
    font-size: 0.9rem;
    font-weight: 600;
    color: var(--text-color-2);

    &:hover {
      background-color: var(--main-color);
      color: #000;
    }
  }

  span{
    display: inline-block;
    font-size: 1.1rem;
    background-color: var(--bg-color-3);
    width: 100px;
    padding: 5px 0;
    text-align: center;
    border-radius: 5px;
  }
}

.page__text{
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  color: var(--text-color-2);
  width: 95%;
  font-size: 1rem;
  background-color: var(--bg-color-3);
  padding: 5px;
  border-radius: 5px;
  margin: 30px auto;
  a{
    font-size: 1.3rem;
  }
}