.header {
    background-color: var(--bg-color-3);
    padding: 30px 0;
}

.header__container {
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.header__checkbox{
    display: none;

}

.header__checkbox:checked+.header__hamburguer {
    span:nth-child(1) {
        transform: rotate(45deg) translateY(15px);
    }

    span:nth-child(2) {
        opacity: 0;
    }

    span:nth-child(3) {
        transform: rotate(-45deg) translateY(-15px);
    }
}

.header__checkbox:checked~.header__nav {
    transform: scale(100%, 1);
    pointer-events: all;
}


.header__hamburguer {
    display: flex;
    flex-direction: column;
    gap: 8px;
    cursor: pointer;

    span {
        transition: all 0.3s ease;
        width: 35px;
        height: 2.2px;
        background-color: var(--text-color-1);
    }
}

.header__nav {
    position: absolute;
    z-index: 10;
    transition: transform 0.3s ease;
    transform: scale(0, 0);
    transform-origin: 0 0;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    gap: 8px;
    top: 50px;
    background-color: var(--bg-color-2);
    border: 1px solid #313131;
    width: min(400px, 100%);
    padding: 5px;
    border-radius: 5px;

    a {
        letter-spacing: 1.5px;
        font-weight: 600;
        border-bottom: 1px solid #313131;

        &:hover {
            color: var(--main-color);
        }
    }
}


.header__logo {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    a {
        h1{
            color: var(--main-color);
        }
    }
}

