.post_card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    aspect-ratio: 4/3;
    object-fit: cover;
    width: 100%;
    background-color: var(--bg-color-2);
    border: 1px solid var(--border-color);
    border-radius: 10px;
    text-align: center;
}

.post_card__figure {
    img {
        width: 80%;
        min-width: 100px;
        max-width: 120px;
    }

    figcaption{
        font-size: 0.9rem;
        font-weight: 600;
        color: var(--text-color-3);
    }
}

.post_card__link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-size: 3rem;
    color: var(--main-color);
    background-color: var(--bg-color-4);
    width: 100%;
    height: 100%;
    opacity: 0;
    border-radius: 10px;
    transition: opacity 0.3s ease;

    &:hover{
        opacity: 1;
    }
}